body {
  background-color: #61dafb;
  color:aliceblue;
}
main{
  padding-top:50px;
  max-width: 340px;
  margin: 0 auto;
}

.App {
  text-align: center;
  background-color: #61dafb;
  color:aliceblue;
  font-size: 50px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

