.header {
    padding: 5px;
    text-align: left;
    background: #1abc9c;
    padding-left: 0%;
    color: white;
    font-size: 15px;
  }

.header img {
    width: 150px;
    display: left;
    margin-left: 50px;
}
